footer {
  background-color: #2B2B2B;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

$preto: #2B2B2B;
$preto-2: #3B3B3B;
$roxo: #A259FF;
$branco: #ffffff;

.btn-roxo {
  background-color: $roxo;
}

.list-footer{
  color: white;
  list-style: none;
}

.footer-column {
  text-align: start;
}

.footer-column h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.social-icons i {
  font-size: 1.5rem;
  margin: 5px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.footer-column button {
  background-color: #A259FF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.footer-column button:hover {
  background-color: #8038B7;
}
