<footer>
    <div class="footer-column">
      <h4>Siga nossas redes sociais</h4>
      <div class="d-flex justify-content-evenly social-icons">
        <a href="#">
          <i class="fa fa-github" style="color: white;"></i>
        </a>
        <a href="#">
          <i class="fa fa-youtube" style="color: white;"></i>
        </a>
        <a href="#">
          <i class="fa fa-twitter" style="color: white;"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram" style="color: white;"></i>
        </a>
      </div>
    </div>
    <div class="footer-column">
      <h4>Explore</h4>
      <ul class="list-footer">
        <li class="list-footer"><a class="list-footer" href="#">Ensine na Tindoria</a></li>
        <li class="list-footer"><a class="list-footer" href="#">Cadastro</a></li>
      </ul>
    </div>
    <div class="">
      <h4>Está com alguma dúvida?</h4>
      
      <form class="d-flex">
        <input class="rounded-3" type="email" placeholder="Seu e-mail">
        <!-- <button type="submit">Enviar</button> -->
        <a routerLink="/chat" class="btn btn-roxo btn-lg ">Enviar</a>
      </form>
    </div>
  </footer>
  
