.filtro-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.filtro-visivel {
  max-height: 500px; // ou a altura desejada
  transition: max-height 0.3s ease-in-out;
}
