<div class="header-cadastros">

    <button class="btn btn-roxo" (click)="redirectToPerfil()">Login</button>
</div>

<div class="topo-home my-5">
    <div class="d-flex flex-column justify-content-start align-items-start" style="color: white;">
        <h1 class="branco">Olá fulano</h1>
        <p>terceiro semestre</p>
    </div>
    <input class="w-100 rounded-pill" type="text" placeholder="Pesquisar">
      
</div>


<ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="disciplinas-tab" data-toggle="tab" href="#disciplinas" role="tab" aria-controls="disciplinas" aria-selected="true">Disciplinas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tutores-tab" data-toggle="tab" href="#tutores" role="tab" aria-controls="tutores" aria-selected="false">Tutores</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="disciplinas" role="tabpanel" aria-labelledby="disciplinas-tab">
      <!-- Conteúdo das Disciplinas usando o componente curso-box -->
      <app-curso-box></app-curso-box>
    </div>
    <div class="tab-pane fade" id="tutores" role="tabpanel" aria-labelledby="tutores-tab">
      <!-- Conteúdo dos Tutores usando o componente curso-box -->
      <app-curso-box></app-curso-box>
    </div>
  </div>

