$preto: #2B2B2B;
$preto-2: #3B3B3B;
$roxo: #A259FF;
$branco: #ffffff;

h1{
  font-size: 52px;
}

h2{
  font-size: 32px;
}

p{
  font-size: 24px;
}

body {
  background-color: $preto-2;
}

h1.branco {
  color: $branco;
}

.bg-dark {
  background-color: $preto-2;
}

.bg-preto {
  background-color: $preto-2;
}

.btn-roxo {
  background-color: $roxo;
}

.curso-box {
  background-color: $preto;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  min-height: 316px;
  max-width: 240px;

  h3 {
    color: #fff;
    margin-top: 10px;
  }

  &-background {
    border-radius: 20px 20px 0px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 240px;
    max-width: 240px;
  }
}
.fs-32{
  font-size: 32px;
}
body {
  background-color: $preto-2 !important;
}

