<form class=" container flex-column d-flex justify-content-center align-items-center  text-center" [formGroup]="alunoForm" (ngSubmit)="onSubmit()">
    <div class="my-2 w-50 d-flex flex-column">
        <label class=" mb-2 branco" for="nome">Nome:</label>
        <input class="rounded-pill" type="text" id="nome" formControlName="nome">
    </div>


    <div class="my-2 w-50 d-flex flex-column">
        <label class=" mb-2 branco" for="email">Email:</label>
        <input class="rounded-pill" type="email" id="email" formControlName="email">

    </div>


    <div class="my-2 w-50 d-flex flex-column">
        <label class=" mb-2 branco" for="senha">Senha:</label>
        <input class="rounded-pill" type="password" id="senha" formControlName="senha">

    </div>


    <div class="my-2 w-50 d-flex flex-column">
        <label class=" mb-2 branco" for="senhaConfirmacao">Confirme a senha:</label>
        <input class="rounded-pill" type="password" id="senhaConfirmacao" formControlName="senhaConfirmacao">

    </div>

<app-buttons [buttonType]="'submit'" [buttonClass]="'btn btn-roxo'">Cadastrar</app-buttons>


    <!-- <button class="btn btn-roxo" type="submit">Cadastrar</button> -->
</form>
  
