<!-- Seu arquivo HTML -->
<header class="bg-dark text-light py-2">
  <div class="container d-flex justify-content-end">
    <button class="btn btn-roxo me-2">Cadastro Aluno</button>
    <button class="btn btn-roxo">Cadastro Tutor</button>
  </div>
</header>

<section class=" py-5">
  <div class="text-center container">
    <h1 class="display-4 branco" style="color: white;" >Bem-vindo ao Tindoria</h1>
    <p class="lead branco " style="color: white;">Sua plataforma de tutoria</p>
    
    <div class="row branco">
      <div class="col-md-4">
        <h2 class="branco"style="color: white;">Número de Alunos</h2>
        <p class="lead branco" style="color: white;">1000</p>
      </div>
      <div class="col-md-4">
        <h2 class="branco" style="color: white;">Disciplinas</h2>
        <p class="lead branco" style="color: white;">50</p>
      </div>
      <div class="col-md-4">
        <h2 class="branco" style="color: white;">Tutores</h2>
        <p class="lead branco" style="color: white;">200</p>
      </div>
    </div>
    
    <div class="mt-4">
      <button class="btn btn-roxo btn-lg mx-2">Login Aluno</button>
      <button class="btn btn-roxo btn-lg mx-2">Login Tutor</button>
    </div>
  </div>

</section>

<!-- Conteúdo da página inicial -->


  <section class="container text-center mt-5">
    <h2 class="my-5  branco" style="color: white;">Cursos Disponíveis</h2>
    
      <div class="row  align-items-center">
        <!-- Curso 1 -->
        <div class="col-xxl-3 mx-2 col-md-6 bg-preto curso-box p-0">
            <div class="curso-box-background" style="background-image: url('assets/images/DESIGN.PNG')"></div>
            <h3 >Design</h3>
        </div>
    
        <!-- Curso 2 -->
        <div class="col-xxl-3 mx-2 col-md-6 bg-preto curso-box p-0">
            <div class="curso-box-background" style="background-image: url('assets/images/DESIGN.PNG')"></div>
            <h3 >Design</h3>
        </div>
    
        <!-- Curso 3 -->
        <div class="col-xxl-3 mx-2 col-md-6 bg-preto curso-box p-0">
            <div class="curso-box-background" style="background-image: url('assets/images/DESIGN.PNG')"></div>
            <h3 >Design</h3>
        </div>
    
        <!-- Curso 4 -->
        <div class="col-xxl-3 mx-2 col-md-6 bg-preto curso-box p-0">
            <div class="curso-box-background" style="background-image: url('assets/images/DESIGN.PNG')"></div>
            <h3 >Design</h3>
        </div>
      </div>
    
    


  </section>




<!-- Seção de Benefícios -->
<section class="container">
  <h2>Benefícios</h2>
  <!-- Conteúdo dos benefícios aqui -->
</section>


<!-- <app-footer></app-footer> -->

