<!-- login.component.html -->


    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <div class="my-2">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
      </div>
      <div class="my-2">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" formControlName="senha" required>
      </div>
      <button type="submit" class="btn btn-roxo">Entrar</button>
    </form>

  